*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: '28DaysLater';
    src: local('28DaysLater'),
         url('../fonts/28\ Days\ Later.ttf');
  }

.container-fluid{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


#background{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(320deg, #292c36 60%, #363947);
}

.mainContainer{
    width: 80%;
    height: 95%;
    max-width: 960px;
    min-height: 685px;
    position: absolute;
    text-align: center;
    border-radius: 8px;
    background-image: linear-gradient(135deg, #1e2028 40%, #292c36);
  filter: drop-shadow(0px 0px 20px #0c0c0d);
    display: grid;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

#current{
    border-radius: 5px;
    font-family: '28DaysLater';
    width: 50%;
    border: 5px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
}

#past{
    margin-right: 0px;
    position: absolute;
    font-family: '28DaysLater';
    width: 40%;
    height: 70%;
    margin-right: 80%;
    border: 3px solid rgba(0,0,0,0.5);
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
}

.card-body{
    background-color: #e2e2e2;
}


.info{
    border: 2px solid grey;
    width: 50%;
    justify-content: center;
    margin: 5px auto;
    border-radius: 8px;
    z-index: 2;
    background-color: #fafafa;
    position: relative;
}

.pastInfo{
    border: 2px solid grey;
    width: 50%;
    justify-content: center;
    margin: 5px auto;
    border-radius: 8px;
    z-index: 1;
    background-color: #fafafa;
    position: relative;
}

#VirusPic{
    position: absolute;
    top: 175px;
    right: -100px;
    z-index: 1;
    width: 350px;
    overflow: hidden;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 20px rgba(173, 12, 12, 1));
}

.sphereBig{
    height: 350px;
    width: 350px;
    top: 175px;
    right: -100px;
    z-index: 1;
    filter: drop-shadow(0 0 50px rgb(173, 12, 12));
}

.sphereSmall{
    height: 150px;
    width: 150px;
    bottom: -25px;
    right: 20px;
    filter: drop-shadow(0 0 20px rgb(173, 12, 12));
}

.sphere{
    display: block;
    position: absolute;
    background-color: rgba(173, 12, 12, 1);
    border-radius: 50%;
    background: radial-gradient(circle at 90px 60px, rgb(255, 126, 126), rgb(255, 0, 0) 10%, rgb(151, 0, 0) 80%, rgb(4, 0, 0) 100%);
}

.sphere::before{
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 0px, #f03131, rgba(255, 255, 255, 0) 58%);
    filter: blur(5px);
    z-index: 1;
}

/********** Screen Sizing **********/

