{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container-fluid">
        <div id="background">
            <img src="{% static 'images/background.jpg' %}" id="backgroundImg" alt=" ">
            <img src="{% static 'images/VirusPic.png' %}" class="virus" id="backgroundVirus3" alt=" ">
            <img src="{% static 'images/VirusPic.png' %}" class="virus" id="backgroundVirus4" alt=" ">
        </div>
        <div class="mainContainer">
            <div class="row">
                <img src="{% static 'images/VirusPic.png' %}" class="virus" id="backgroundVirus2" alt=" ">

                <div class="card" id="past">
                    <img src="{% static 'images/VirusPic.png' %}" class="virus virusSmall" alt=" ">
                    <div class="card-header pastHeader">
                        <h2>{{headerInfo.0}}</h2>
                        <h3>{{stateInfo.0}}</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="pastTag">Yesterday</h4>
                        <div class="pastInfo">
                            <p>{{headerInfo.1}}</p>
                            <p>{{pastInfo.1}}</p>
                        </div>
                        <div class="pastInfo">
                            <p>{{headerInfo.2}}</p>
                            <p>{{pastInfo.2}}</p>
                        </div>
                        <div class="pastInfo">
                            <p>{{headerInfo.3}}</p>
                            <p>{{pastInfo.3}}</p>
                        </div>
                        <div class="pastInfo">
                            <p>{{headerInfo.4}}</p>
                            <p>{{pastInfo.4}}</p>
                        </div>
                        <div class="pastInfo">
                            <p>{{headerInfo.5}}</p>
                            <p>{{pastInfo.5}}</p>
                        </div>
                    </div>
                </div>
                <div class="card" id="current">
                    <img src="{% static 'images/VirusPic.png' %}" class="virus virusBig" alt=" ">
                    <div class="card-header currentHeader">
                        <h1>{{headerInfo.0}}</h1>
                        <h2>{{stateInfo.0}}</h2>
                    </div>
                    <div class="card-body">
                        <h2 class="currentTag">Current</h2>
                        <div class="info">
                            <h3>{{headerInfo.1}}</h3>
                            <h3>{{stateInfo.1}}</h3>
                        </div>
                        <div class="info">
                            <h3>{{headerInfo.2}}</h3>
                            <h3>{{stateInfo.2}}</h3>
                        </div>
                        <div class="info">
                            <h3>{{headerInfo.3}}</h3>
                            <h3>{{stateInfo.3}}</h3>
                        </div>
                        <div class="info">
                            <h3>{{headerInfo.4}}</h3>
                            <h3>{{stateInfo.4}}</h3>
                        </div>
                        <div class="info">
                            <h3>{{headerInfo.5}}</h3>
                            <h3>{{stateInfo.5}}</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}